/*****COMMON CSS SECTION*****/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
    font-family: roboto, sans-serif, arial;
}
html, body 
	{
	font-size: 14px;
	font-weight: 400;
	background: #000000;
	color: #f3ecf2;
}
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
/*****menu SECTION*****/
.main-panel{
	width: 100%;
	float: left;
	padding-top:20px;
	padding-bottom: 40px;
	height: 100vh;
}
.logo{
	font-size: 40px;
	font-weight: 600;
}.span-col{
	color: rgb(4, 28, 241);
}
nav{
	float:right;
	
}
nav a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}
.width-50 {
	float: left;
	width: 50%;
}
.banner-section{
	width: 100%;
	float: left;
	margin-top: 25vh;
}
.banner-section h1 {
	font-size: 40px;
	margin-top: 10px;
	font-weight: bolder;
	color: rgb(243, 1, 231);

}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
	color: rgb(0, 162, 255);
}
.banner-section a{
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #f30bc1;
	color: #22f006;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
.image{
	width: 50%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.image img {
	height: 300px;width: 300px;
	border-radius: 100%;
	border: 10px solid palevioletred;

}
.mt-20{
	margin-top: 20px;
}
.heading-text{
	width: 100%;
	float: left;
	font-size: 35px;
	margin-bottom: 50px;
	text-align: center;
	color: yellow;
}
.about-me p{
	font-size: 16px;
	margin-top: 15px;
	line-height: 27px;
text-align: center;
}
.about-me h3{
	font-size: 16px;
	margin-top: 15px;
	line-height: 27px;
text-align: center;
}
table{
width: 100%;
}
table th, table td{
	font-size: 19px;
	text-align: center;
	padding: 10px 10px;
}
.edu-exp {
	padding: 10px 0px;
	width: 48%;
	margin: 1%;
	float: left;
	padding-left: 10px;

}
.experience-list {
	width: 100%;
	float: left;
	padding: 30px 10px;
	background: #262626;
	margin-bottom: 50px;
    
}
.experience-content {
	width: 100%;
	float: left;
	margin-left: 10px;
}
.experience-content h2 {
	font-weight: 600;
	margin-bottom: 5px;
    font-size: 20px;
}
.experience-content h3 {
	color: #ffbf35;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 17px;

}
.experience-content p {
	font-size: 15px;
}
.service-list {
	padding: 40px;
	margin-top: 35px;
	background: #262626;
	border-radius: 15px;
	width: 94%;
	float: left;
}
.service-list i {
	font-size: 50px;
	color: #ffbf35;
	width: 70px;float: left;
}
.service-list h3 {
	font-size: 28px;
	margin-top: 8px;
	margin-bottom: 15px;
}
.service-list p {
	font-size: 15px;
	line-height: 25px;
}
.contact form {
	width: 66%;
	margin: 0px auto;
}
.contact input, textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button{
	width: 100%;
	float: left;
margin-bottom: 20px;
height: 40px;
padding: 10px;
background: #ffbf35;
color: #fff;
border: none;
font-size: 16px;

}
.contact h3{
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: aqua;
}
.contact h4{
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p{
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.footer{
	background-color: #f30bc1;
	padding: 30px 0px 40px 0px;
	width: 100%;
	float: left;
	text-align: center;

}
.footer-sect{
	color: aqua;
}
.social-icon a  {
	color: aqua;
	margin-left: 30px;
	text-decoration: none;
	font-size: 20px;
	text-align: center;

}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
}
